
# API access and LTI key/secret
API_URL = ''
API_KEY = ''

# generate a secret key with urandom(24)
secret_key = ''

# logs
LOG_FILE = 'errorland.log'
LOG_FORMAT = '%(asctime)s [%(levelname)s] {%(filename)s:%(lineno)d} %(message)s'
LOG_LEVEL = 'INFO'
LOG_MAX_BYTES = 1024 * 1024 * 5  # 5 MB
LOG_BACKUP_COUNT = 1
